@import "tailwindcss";
@source "./app/Views/**/*.php";
@source "./public/js/**/*.js";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: dark;
}
@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
    --font-heading: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
    body {
        @apply font-sans;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-heading;
    }

    h1, h2, h3 {
        font-weight: 700;
    }

    h4, h5, h6 {
        font-weight: 500;
    }
}


@import "./components.css";
@import "./utilities.css";
